<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkbox Binding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
</head>
<body>
    <div class="app">
        <input type="radio" v-model="lesson" value="html">Html
        <input type="radio" v-model="lesson" value="css">Css
        <p>{{ lesson }}</p>
        </div>    
    <script>
      var va = new Vue({
          el : '.app' ,
          data: {
              lesson : []
          },
      });
    </script>
</body>
</html>